---
host: api.cheerychow.com
schemes:
- https
consumes:
- application/json
produces: 
- "application/json"
basePath: "/"
swagger: '2.0'
info:
  title: Cheery Chow Recipe API
  version: 0.4.0
  description: Food, nutrition and recipe management API.
  contact:
    email: john@cheerychow.com
  license:
    name: AsR
    url: http://asr-aad.org/
  termsOfService: http://www.cheerychow.com/terms.html
tags:
- name: labels
  description: A collection of endpoints for querying data such as the currently known Nutrient json field names and other developer API related features.
- name: rate-recipe
  description: End points for rating recipes and fetching recipe review data.
- name: food
  description: 'Endpoints for searching the food items in the database, including known ingredients and autocomplete
  functions for use in auto completing text boxes. Nutrition endpoints are also available which provide functions
  for fetching how much nutrition foods offer.'
- name: recipe
  description: Recipe management endpoints include saving recipes, adding/changing ingredients and updating
   many other recipe related details. Endpoints are also available for generating HTML Nutrition Label content.
- name: scratch-recipe
  description: Scratch recipes are recipes which aren't yet publically viewable and WIP. Once work is completed on a scratch recipe, it can then put 'published' i.e. made publically viewable to all.
- name: rda
  description: View the various RDA (Recommended Daily Allowances) currently available in the database. These are important when generating the RDA .Provides field on the recipe objects. The .Provides is generated based on an RDA object. For example, the UK RDA for men and women is different to that offically recognised in other countries, such as the USA. So, when requesting a Recipe object, it's important to understand this when interpreting the data seen in the Recipe object's .Provides field.
- name: fav-recipe
  description: List the logged in user's fav recipes.
- name: alternatives
  description: List similar foods. This is useful when looking at foods that are similar and migt be swapped in recipes (such as rice, basmati rice or brown rice).
- name: parse
  description: A collection of endpoints for parsing ingredients in recipes. Each endpoint can take natural english ingredient lines and parse them into quantities of food with their nutritional content.
- name: recipe-group
  description: A schema for grouping collections of recipes together, for any purpose.
- name: convert
  description: A collection of endpoints for converting recipes into various other formats; including and not limited to XML, MealMaster and Recipe Markup Language.
- name: account
  description: Account management endpoints, including API key creation, account validation and login functionality.
- name: user
  description: User management endpoints for adding new users and updating their account information.
- name: chow
  description: Get a particular recipe via a unique name and index
paths:
  "/search-ingredients/{search}":
    get:
      tags:
      - food
      operationId: SearchIngredients
      summary: Search common foods and parse the search term as an ingredient. This
        is a convenience end point for auto xcomplete boxes where a user typing in
        a text can either pick a food item or the ingredient's parsed value from a
        drop down.
      parameters:
      - in: path
        description: Case insensitive search term, for ingredients or foods. Ingredients
          will be parsed as ingredient lines and returned as IngredientWithNutritionAbbrev
          objects.
        name: search
        required: true
        type: string
        minLength: 1
        maxLength: 255
      produces:
      - application/json
      responses:
        '200':
          description: An array of NutritionAbbrev objects with the amount of food
            & nutrition as parsed by the sous bot, or per 100g of food if the search
            result is simply food.
          schema:
            type: array
            items:
              "$ref": "#/definitions/IngredientWithNutritionAbbrev"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/search-common-foods/{search}":
    get:
      tags:
      - food
      operationId: SearchCommonFoods
      summary: Search the available foods by text string
      parameters:
      - in: path
        description: Case insensitive search term, for ingredients or foods. Ingredients
          will be parsed as ingredient lines and returned as IngredientWithNutritionAbbrev
          objects.
        name: search
        required: true
        type: string
        minLength: 1
        maxLength: 254
      - "$ref" : "#/parameters/offset"
      - "$ref" : "#/parameters/limit"
      produces:
      - application/json
      responses:
        '200':
          description: An array of NutritionAbbrev objects with the amount of food
            & nutrition as parsed by the sous bot, or per 100g of food if the search
            result is simply food.
          schema:
            type: array
            items:
              "$ref": "#/definitions/NutritionAbbrevWithName"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/search/recipe-category-names":
    get:
      tags:
      - food
      operationId: ShowSearchRecipeCategories
      summary: Provide a list of valid search parameters available when searching for recipes; examples include pescatarian or vegan-friendly which can be passed to recipe searches as 'pescatarion=1' to filter only pescatarian recipes in the search results.
      produces:
      - application/json
      responses:
        '200':
          description: An array of the available recipe search categories.
          schema:
            type: array
            items:
              type: string
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/labels/nutrient-definitions":
    get:
      tags:
      - labels
      operationId: NutrientDefinitions
      summary: List the nutrient's currently known to cheery chow.
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              "$ref": "#/definitions/NutrDef"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/labels/nutrient-abbrevs":
    get:
      tags:
      - labels
      operationId: NutrientAbbrevs
      summary: List the nutrient's field names that appear in json objects
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              type: string
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/rate-recipe":
    post:
      tags:
      - rate-recipe
      operationId: RateARecipe
      summary: Rate a recipe out of 5. The body of this post request requires at least that the rating field be set, along with one other RateRecipe field to identify the recipe you're rating. If the recipe is a recipe already in the database, then set the recipe_id field. If the recipe is an external recipe then you can set the recipe_url field.
      parameters:
      - in: body
        description: Rating out of 5
        name: jsonBody
        required: true
        schema:
          "$ref": "#/definitions/RecipeRating"
      produces:
      - application/json
      responses:
        '201':
          description: The recipe rating.
          schema:
            "$ref": "#/definitions/RecipeRatingResult"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
  "/rate-recipe/my-rating-by-id/{ratingId}":
    get:
      tags:
      - rate-recipe
      operationId: GetMyRecipeRatingByRatingID
      summary: Get currently logged in users rating for a recipe, by it's id
      parameters:
      - in: path
        description: The id of the rating.
        name: ratingId
        required: true
        type: integer
        format: int32
        minimum: 1
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/RecipeRating"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Recipe not found
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
  "/rate-recipe/my-rating-by-url/{url}":
    get:
      tags:
      - rate-recipe
      operationId: GetMyRecipeRatingByUrl
      summary: Get currently logged in users rating for a recipe, by recipe url
      parameters:
      - in: path
        description: The url of the recipe, if it's already in the database.
        name: url
        required: true
        type: string
        minLength: 1
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/RecipeRating"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Recipe not found
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
  "/rate-recipe/my-rating-by-recipe-id/{recipeId}":
    get:
      tags:
      - rate-recipe
      operationId: GetMyRecipeRatingByRecipeId
      summary: Get currently logged in users rating for a recipe, by recipe url
      parameters:
      - in: path
        description: The url of the recipe, if it's already in the database.
        name: recipeId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/RecipeRating"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Recipe not found
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
  "/rate-recipe/by-url/{url}":
    get:
      tags:
      - rate-recipe
      operationId: GetRecipeRatingByUrl
      summary: Get the aggregate rating for a recipe, by it's url
      parameters:
      - in: path
        description: The url of the recipe you want to rate.
        name: url
        required: true
        type: string
        minLength: 1
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/AvgTotal"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Recipe not found
          schema:
            "$ref": "#/definitions/HttpAPIError"
  # "/rate-recipe/{recipeId}":
      # put:
      #   tags:
      #   - rate-recipe
      #   operationId: SaveARecipeRating
      #   summary: Make a change to an already set recipe rating.
      #   parameters:
      #   - in: path
      #     description: The url of the recipe, if it's already in the database.
      #     name: recipeId
      #     required: true
      #     type: string
      #   - in: body
      #     description: Rating out of 5
      #     name: jsonBody
      #     required: true
      #     schema:
      #       "$ref": "#/definitions/RecipeRating"
      #   produces:
      #   - application/json
      #   responses:
      #     '200':
      #       description: The recipe rating.
      #       schema:
      #         "$ref": "#/definitions/RecipeRating"
      #     '400':
      #       description: Illegal value.
      #       schema:
      #         "$ref": "#/definitions/HttpAPIError"
      #     '404':
      #       description: Recipe or rating not found.
      #       schema:
      #         "$ref": "#/definitions/HttpAPIError"
      #   security:
      #   - chow_auth:
      #     - AuthRequired
  "/rate-recipe/by-id/{recipeId}":
    get:
      tags:
      - rate-recipe
      operationId: GetRecipeRatingByRecipeID
      summary: Get the rating for a recipe, by it's id
      parameters:
      - in: path
        description: The id of the recipe, if it's already in the database.
        name: recipeId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/AvgTotal"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Recipe not found
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/rate-recipe/{ratingId}":
    delete:
      tags:
      - rate-recipe
      operationId: DeleteARecipeRating
      summary: Delete a recipe rating
      parameters:
      - in: path
        description: The id of the rating object you want to delete
        name: ratingId
        required: true
        type: integer
        format: int64
        minimum: 1
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIResponse"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Rating not found.
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '403':
          description: You're not the owner of this rating.
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
  "/autocomplete-foods/{search}":
    get:
      tags:
      - food
      operationId: ShowFoodsContaining
      summary: Simple wildcard food search.
      parameters:
      - in: path
        description: Food ID
        name: search
        required: true
        type: string
        minLength: 1
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: object
            additionalProperties:
              type: string
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/food/ingredients":
    get:
      tags:
      - food
      operationId: SearchAvailableIngredient
      summary: Search through the known ingredients in the database
      parameters:
      - in: query
        description: The search term to use when searching through ingredient names
        name: search-term
        required: false
        type: string
        minLength: 0
      - "$ref" : "#/parameters/offset"
      - in: query
        description: Limit the number of results returned.
        name: limit
        default: 1000
        required: false
        type: integer
        format: int32
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              "$ref": "#/definitions/IngredientFood"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/food/{foodId}":
    get:
      tags:
      - food
      operationId: GetFoods
      summary: List similar foods
      parameters:
      - in: path
        description: The Food ID of the food object you want to fetch
        name: foodId
        required: true
        type: integer
        format: int64
        minimum: 1
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/FoodDes"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Food not found
          schema:
            "$ref": "#/definitions/HttpAPIError"
#  "/food/{food_id}/nutrition/{amount_grams}":
#    get:
#      tags:
#      - food
#      operationId: CalculateNutritionalInfo
#      summary: Get an API key
#      parameters:
#      - in: path
#        description: Food ID
#        name: food_id
#        required: true
#        type: integer
#        format: int32
#        minimum: 1
#      - in: path
#        description: Amount in grams
#        name: amount_grams
#        required: true
#        type: number
#        format: float
#        minimum: 1
#      produces:
#      - application/json
#      responses:
#        '200':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/NutritionAbbrev"
#        '400':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
#  "/food/{food_id}/nutrition-provides/{amount_grams}":
#    get:
#      tags:
#      - food
#      operationId: CalculateNutritionalAndRDAProviddesInfo
#      summary: Get an API key
#      parameters:
#      - in: path
#        description: Food ID
#        name: food_id
#        required: true
#        type: integer
#        format: int32
#        minimum: 1
#      - in: path
#        description: Amount in grams
#        name: amount_grams
#        required: true
#        type: number
#        format: float
#        minimum: 1
#      produces:
#      - application/json
#      responses:
#        '200':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/NutritionAbbrev"
#        '400':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
  "/food/search/{searchTerm}":
    get:
      tags:
      - food
      operationId: SearchFoods
      summary: Plain english search for foods.
      parameters:
      - in: path
        description: A search term for searching for foods.
        name: searchTerm
        required: true
        type: string
        minLength: 2
      - in: query
        description: The offset into search results.
        name: offset
        required: false
        type: integer
        format: int64
        minimum: 0
      - in: query
        description: Limit the number of results returned.
        name: limit
        required: false
        type: integer
        format: int32
        minimum: 0
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              "$ref": "#/definitions/FoodDes"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/food/{foodId}/weights":
    get:
      tags:
      - food
      operationId: FoodWeight
      summary: Return the measured food proportions for a particular food.
      parameters:
      - in: path
        description: Food id which you want a list of known foods weights for
        name: foodId
        required: true
        type: integer
        format: int32
        minimum: 1
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              type: string
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/food/groups":
    get:
      tags:
      - food
      operationId: ListFoodGroups
      summary: A list of the food groups
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              "$ref": "#/definitions/FoodGroup"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/food/popular":
    get:
      tags:
      - food
      operationId: PopularFoods
      summary: Return a list of the most popular ingredients as food objects
      parameters:
      - in: query
        description: Limit the number of results returned.
        name: limit
        default: 1000
        required: false
        type: integer
        format: int32
      - "$ref" : "#/parameters/offset"
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              "$ref": "#/definitions/PopularFood"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/food/{foodId}/weightnames":
    get:
      tags:
      - food
      operationId: FoodWeightNames
      summary: Weights of typical measurements
      parameters:
      - in: path
        description: Food id which you want a list of known foods weights for
        name: foodId
        required: true
        type: integer
        format: int32
        minimum: 1
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              type: string
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/recipe/{recipeId}/image":
    get:
      tags:
      - recipe
      operationId: GetRecipePNG
      summary: Get the URL for a recipe's image
      parameters:
      - in: path
        description: The recipe ID of the recipe which the image is to be fetched.
        name: recipeId
        required: true
        type: string
      produces:
      - image/png
      responses:
        '200':
          description: The image
#          type: string
#          format: binary
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
#  "/recipe/{recipeId}/image-url":
#    get:
#      tags:
#      - recipe
#      operationId: GetImageURL
#      summary: Get the URL for a recipe's image
#      parameters:
#      - in: path
#        description: The recipe ID of the recipe which the image is to be fetched.
#        name: recipeId
#        required: true
#        type: integer
#        format: int64
#        minimum: 1
#      produces:
#      - application/json
#      responses:
#        '200':
#          description: Description was not specified
#          schema:
#            type: string
#        '400':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
#        '404':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
#  "/recipe/{recipeId}/qr-image-url":
#    get:
#      tags:
#      - recipe
#      operationId: GetImageQRCodeURL
#      summary: Get the QR code image
#      parameters:
#      - in: path
#        description: The recipe ID of the recipe which the image is to be fetched.
#        name: recipeId
#        required: true
#        type: integer
#        format: int64
#      produces:
#      - application/json
#      responses:
#        '200':
#          description: Description was not specified
#          schema:
#            type: object
#            additionalProperties:
#              type: array
#              items:
#                type: string
#        '400':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
#        '404':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
  "/recipe/{recipeId}/qr-image/png":
    get:
      tags:
      - recipe
      operationId: GetImageQRCodePNG
      summary: Get the QR code image
      parameters:
      - in: path
        description: The recipe ID of the recipe which the image is to be fetched.
        name: recipeId
        required: true
        type: string
      produces:
      - image/png
      responses:
        '200':
          description: Here's the image
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
#  "/recipe/{recipeId}/nutrition-label/png":
#    get:
#      tags:
#      - recipe
#      operationId: GetNutritionLabelImage
#      summary: Get a PNG of the nutrition label
#      parameters:
#      - in: path
#        description: The recipe ID which the nutritional label should be calculated
#          from.
#        name: recipeId
#        required: true
#        type: string
#      - in: query
#        description: The number of portions the parsed ingredients will create.
#        name: portions
#        required: false
#        type: integer
#        format: int32
#        default: 1
#        minimum: 1
#      - "$ref" : "#/parameters/country"
#      produces:
#      - image/png
#      responses:
#        '200':
#          description: Description was not specified
#          schema:
#            type: integer
#            format: int32
#        '400':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
#        '404':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
  "/parse/nutrition-label/html":
    post:
      tags:
      - parse
      operationId: GetNutritionLabelFromPlainIngredientsHtml
      summary: Get HTML source which draws a static HTML version of the nutrition
        label, from plain text ingredients passed to the endpoint as a json array
        where each item in the array is an ingredient line. You should pass the
        header 'Accept' text/html in the request to receive the HTML text in raw
        requests to the server.
      parameters:
      - in: body
        description: A JSON array of plain english ingredients.
        name: jsonBody
        required: true
        schema:
          type: array
          items:
            type: string
      - in: query
        description: The number of portions the parsed ingredients will create.
        name: portions
        required: false
        type: integer
        format: int32
        default: 1
        minimum: 1
      - "$ref" : "#/parameters/saveRecipe"
      - "$ref" : "#/parameters/recipeName"
      - "$ref" : "#/parameters/portionSize"
      - "$ref" : "#/parameters/country"
      produces:
      - text/html
      security:
      - chow_optional_auth:
        - AuthOptional
      responses:
        '200':
          description: HTML code for the nutrition label.
          schema:
            type: string
        '400':
          description: Description was not specified
          schema:
            type: string
        '404':
          description: Description was not specified
          schema:
            type: string
  "/parse/nutrition-label/dynamic-html":
    post:
      tags:
      - parse
      operationId: GetNutritionLabelFromPlainIngredientsDynamicHtml
      summary: Get HTML source which draws a dynamic (javascript operated) version
        of the nutrition label, from plain text ingredients passed to the endpoint
        as a json array where each item in the array is an ingredient line. You
        should pass the header 'Accept' text/html in the request to receive the
        HTML text in raw requests to the server.
      parameters:
      - in: body
        description: A JSON array of plain english ingredients.
        name: jsonBody
        required: true
        schema:
          type: array
          items:
            type: string
      - in: query
        description: The number of portions the parsed ingredients will create.
        name: portions
        required: false
        type: integer
        format: int32
        default: 1
        minimum: 1
      - "$ref" : "#/parameters/saveRecipe"
      - "$ref" : "#/parameters/recipeName"
      - "$ref" : "#/parameters/portionSize"
      - "$ref" : "#/parameters/country"
      produces:
      - text/html
      security:
      - chow_optional_auth:
        - AuthOptional
      responses:
        '200':
          description: Description was not specified
          schema:
            type: string
        '400':
          description: Description was not specified
          schema:
            type: string
        '404':
          description: Description was not specified
          schema:
            type: string
  "/parse/nutrition-tips-label/html":
    post:
      tags:
      - nutrition-tips
      operationId: GetNutritionTipsLabelFromPlainIngredientsHtml
      summary: Get the HTML source for a nutrition tips panel that can be embedded into a web page.
      parameters:
      - in: body
        description: A JSON array of plain english ingredients.
        name: jsonBody
        required: true
        schema:
          type: array
          items:
            type: string
      - in: query
        description: The number of portions the parsed ingredients will create.
        name: portions
        required: false
        type: integer
        format: int32
        default: 1
        minimum: 1
      - "$ref" : "#/parameters/portionSize"
      - "$ref" : "#/parameters/country"
      produces:
      - text/html
      responses:
        '200':
          description: Description was not specified
          schema:
            type: string
        '400':
          description: Description was not specified
          schema:
            type: string
        '404':
          description: Description was not specified
          schema:
            type: string
  "/recipe/{recipeId}/nutrition-tip":
    get:
      tags:
      - recipe
      operationId: GetNutritionTipsForRecipe
      summary: Get a list of the nutrient tips for a particular recipe.
      parameters:
      - in: path
        description: The recipe ID and it's nutrition tips.
        name: recipeId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              "$ref": "#/definitions/NutritionTip"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Recipe not found
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/recipe/{recipeId}/nutrition-label/html":
    get:
      tags:
      - recipe
      operationId: GetNutritionLabelHtml
      summary: Get HTML source which draws a dynamic (javascript operated) version
        of the nutrition label. You should pass the header 'Accept' text/html in the request
         to receive the HTML text in raw requests to the server.
      parameters:
      - "$ref" : "#/parameters/recipeId"
      - "$ref" : "#/parameters/portions"
      - "$ref" : "#/parameters/portionSize"
      - "$ref" : "#/parameters/country"
      produces:
      - text/html
      responses:
        '200':
          description: Description was not specified
          schema:
            type: string
        '400':
          description: Description was not specified
          schema:
            type: string
        '404':
          description: Description was not specified
          schema:
            type: string
  "/recipe/{recipeId}/nutrition-label/dynamic-snippet":
    get:
      tags:
      - recipe
      operationId: GetNutritionLabelHtmlDynamicSnippet
      summary: Get HTML source which draws a dynamic (javascript operated) version
        of the nutrition label. This produces a <div> with the nutrition label
        drawn inside it. The nutrients can be extended to show the food's producing
        the total food nutrition.
      parameters:
      - "$ref" : "#/parameters/recipeId"
      - "$ref" : "#/parameters/portions"
      - "$ref" : "#/parameters/portionSize"
      - "$ref" : "#/parameters/country"
      produces:
      - text/html
      responses:
        '200':
          description: Description was not specified
          schema:
            type: string
        '400':
          description: Description was not specified
          schema:
            type: string
        '404':
          description: Description was not specified
          schema:
            type: string
  "/recipe/{recipeId}/nutrition-label/static-snippet":
    get:
      tags:
      - recipe
      operationId: GetNutritionLabelHtmlStaticSnippet
      summary: Get HTML source which draws a static version of the nutrition label. 
        This produces a <div> with the nutrition label drawn inside it. 
      parameters:
      - "$ref" : "#/parameters/recipeId"
      - "$ref" : "#/parameters/portions"
      - "$ref" : "#/parameters/portionSize"
      - "$ref" : "#/parameters/country"
      produces:
      - text/html
      responses:
        '200':
          description: Description was not specified
          schema:
            type: string
        '400':
          description: Description was not specified
          schema:
            type: string
        '404':
          description: Description was not specified
          schema:
            type: string
  "/js/nutritionLabel.js":
    get:
      tags:
      - recipe
      operationId: GetNutritionLabelJs
      summary: Get HTML source which draws a dynamic (javascript operated) version
        of the nutrition label. You should pass the header 'Accept' text/html in the request
         to receive the HTML text in raw requests to the server.
      produces:
      - text/html
      responses:
        '200':
          description: Description was not specified
          schema:
            type: string
        '400':
          description: Description was not specified
          schema:
            type: string
        '404':
          description: Description was not specified
          schema:
            type: string
  "/css/nutritionLabel.css":
    get:
      tags:
      - recipe
      operationId: GetNutritionLabelCss
      summary: Get the Nutrition label CSS.
      produces:
      - text/html
      responses:
        '200':
          description: Description was not specified
          schema:
            type: string
        '400':
          description: Description was not specified
          schema:
            type: string
        '404':
          description: Description was not specified
          schema:
            type: string
  "/recipe/{recipeId}/nutrition-tips-label/html":
    get:
      tags:
      - nutrition-tips
      operationId: GetNutritionTipsLabelHtml
      summary: Get HTML source which draws a Nutrition Tips panel for embedding into a webpage.
      parameters:
      - "$ref" : "#/parameters/recipeId"
      - "$ref" : "#/parameters/portions"
      - "$ref" : "#/parameters/portionSize"
      - "$ref" : "#/parameters/country"
      produces:
      - text/html
      responses:
        '200':
          description: Description was not specified
          schema:
            type: string
        '400':
          description: Description was not specified
          schema:
            type: string
        '404':
          description: Description was not specified
          schema:
            type: string
  "/recipe/{recipeId}/csv":
    get:
      tags:
      - recipe
      operationId: GetRecipeCSV
      summary: Create a detailed CSV file from a Recipe. Includes data on the calories
        per portion, and calorie for each ingredient in the recipe.
      parameters:
      - "$ref" : "#/parameters/recipeId"
      - "$ref" : "#/parameters/portions"
      - "$ref" : "#/parameters/portionSize"
      - "$ref" : "#/parameters/country"
      produces:
      - text/csv
      security:
      - chow_auth:
        - AuthRequired
      responses:
        '200':
          description: Description was not specified
          schema:
            type: string
            format: string
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/recipe/copy/{recipeId}":
    get:
      tags:
      - recipe
      operationId: CopyRecipeExactly
      summary: Allows you to make a copy of a recipe, which you're free to make changes
        to as if it were your own.
      parameters:
      - in: path
        description: The recipe you want to make changes to
        name: recipeId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/Recipe"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
    post:
      tags:
      - recipe
      operationId: CopyRecipeToMyRecipesWithChanges
      summary: Allows you to make a copy of a recipe, which you're free to make changes
        to as if it were your own.
      parameters:
      - in: path
        description: The recipe you want to make changes to
        name: recipeId
        required: true
        type: string
      - in: body
        description: The recipe object with changes you want to make to the original
          recipe.
        name: jsonBody
        required: true
        schema:
          "$ref": "#/definitions/Recipe"
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/Recipe"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
#  "/super-recipe/{recipeId}":
#    get:
#      tags:
#      - recipe
#      operationId: GetRecipeSuperobject
#      summary: Get the recipe object, and include the nutrition information for the
#        ingredients in this object.
#      parameters:
#      - in: path
#        description: Recipe ID
#        name: recipeId
#        required: true
#        type: integer
#      - application/json
#      responses:
#        '200':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/Recipe"
#        '400':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
  "/recipe/{recipeId}/ingredient-names":
    get:
      tags:
      - recipe
      operationId: GetRecipeIngredientNames
      summary: Get a list of the common names for a particular recipe
      parameters:
      - in: path
        description: Recipe ID
        name: recipeId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              type: string
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/recipe/{recipeId}/categories":
    get:
      tags:
      - recipe
      operationId: GetCategoriesForRecipe
      summary: Get a list of the categories the food belongs to
      parameters:
      - in: path
        description: Recipe ID
        name: recipeId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              type: string
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/nutrition-tip/{nutrientId}":
    get:
      tags:
      - nutrition
      operationId: GetNutritionTipsForNutrient
      summary: Get a list of the nutrient tips for a particular nutrient.
      parameters:
      - in: path
        description: The nutrient ID, either the nutrient ID number of the key name for the nutrient (string).
        name: nutrientId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              "$ref": "#/definitions/NutritionTip"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/recipe/{recipeId}":
    put:
      tags:
      - recipe
      operationId: SaveRecipe
      summary: Save changes to a recipe
      parameters:
      - in: path
        description: The recipe ID of the recipe you're updating, either the unique Recipe ID int64 or the oid string may be used here.
        name: recipeId
        required: true
        type: string
      - in: body
        description: The recipe to be saved.
        name: jsonBody
        required: true
        schema:
          "$ref": "#/definitions/Recipe"
      produces:
      - application/json
      responses:
        '200':
          description: No response was specified
          schema:
            "$ref": "#/definitions/Recipe"
        '201':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/Recipe"
        '401':
          description: Not logged in
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Recipe doesn't exist.
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
    delete:
      tags:
      - recipe
      operationId: DeleteRecipe
      summary: Remove one of your recipes
      parameters:
      - in: path
        description: Recipe ID
        name: recipeId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIResponse"
        '401':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
    get:
      tags:
      - recipe
      operationId: GetRecipeByID
      summary: Get a recipe object and include the total recipe nutrition
      parameters:
      - in: path
        description: Recipe id
        name: recipeId
        required: true
        type: string
      - "$ref" : "#/parameters/includeNutritionParam"
      - "$ref" : "#/parameters/include-common-names"
      - "$ref" : "#/parameters/include-recipe-categories"
      - "$ref" : "#/parameters/include-nutrition-per-portion"
      - "$ref" : "#/parameters/include-gda"
      - "$ref" : "#/parameters/include-nutrition-tips"
      - "$ref" : "#/parameters/include-food-names"
      - "$ref" : "#/parameters/include-food-id"
      - "$ref" : "#/parameters/country"
      - "$ref" : "#/parameters/portionSize"
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/Recipe"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/recipe":
    get:
      tags:
      - recipe
      operationId: GetMyRecipes
      summary: Get all of the recipes owned by the currently logged in or authorised
        user. Include the recipe's nutrition per portion.
      parameters:
      - "$ref" : "#/parameters/includeNutritionParam"
      - "$ref" : "#/parameters/include-common-names"
      - "$ref" : "#/parameters/include-recipe-categories"
      - "$ref" : "#/parameters/include-nutrition-per-portion"
      - "$ref" : "#/parameters/include-gda"
      - "$ref" : "#/parameters/include-nutrition-tips"
      - "$ref" : "#/parameters/include-food-names"
      - "$ref" : "#/parameters/include-food-id"
      - "$ref" : "#/parameters/offset"
      - "$ref" : "#/parameters/limit"
      security:
      - chow_auth:
        - AuthRequired
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              "$ref": "#/definitions/Recipe"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/recipe/{recipeId}/food":
    get:
      tags:
      - recipe
      operationId: GetRecipeFoodNames
      summary: Get a recipe object's food names
      parameters:
      - in: path
        description: Recipe id
        name: recipeId
        required: true
        type: string
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              "$ref": "#/definitions/FoodWithID"
        '400':
          description: Malformed recipe id
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Recipe doesn't exist.
          schema:
            "$ref": "#/definitions/HttpAPIError"
#  "/recipe/{recipeId}/ingredient/nutrition":
#    post:
#      tags:
#      - recipe
#      operationId: SaveIngredientToRecipe
#      summary: Adds new ingredients to a scratch recipe
#      parameters:
#      - in: path
#        description: The ID of the recipe you want to change
#        name: recipeId
#        required: true
#        type: integer
#        format: int64
#        minimum: 1
#      - in: body
#        description: The ingredient you want to add to the recipe
#        name: jsonBody
#        required: true
#        schema:
#          "$ref": "#/definitions/Ingredient"
#      produces:
#      - application/json
#      responses:
#        '200':
#          description: The objects which new exist in the scratch pad recipe
#          schema:
#            type: array
#            items:
#              "$ref": "#/definitions/Ingredient"
#        '400':
#          description: Malformed JSON (this endpoint requires an array of strings
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
#      security:
#      - chow_auth:
#        - AuthRequired
  "/recipe/{recipeId}/ingredient/nutrition":
    get:
      tags:
      - recipe
      operationId: ListIngredientsWithNutrition
      summary: Get a list of ingredients in a recipe
      parameters:
      - in: path
        description: The recipe ID
        name: recipeId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              "$ref": "#/definitions/IngredientWithNutritionAbbrev"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
#  "/recipe/search-by-food-id/{foodIds}":
#    get:
#      tags:
#      - recipe
#      operationId: SearchRecipesByFoodIdsWithNutrition
#      summary: Search for recipes with particular ingredients
#      parameters:
#      - in: query
#        description: Search the recipe name, used as a wild card on the name column
#          like so; '%name%'
#        name: name
#        required: false
#        type: string
#      - in: path
#        description: A comma separated list of food IDs which each recipe MUST contain.
#        name: foodIds
#        required: true
#        type: string
#        minLength: 1
#      - name:   include-nutrition
#        in: query
#        description: Should the recipe's nutrition field be populated?
#        required: false
#        default: false
#        type: boolean
#      - in: query
#        description: Should the recipe's ingredient common names be included?
#        name: include-common-names
#        required: false
#        type: boolean
#      - in: query
#        description: Should the recipe's ingredient food names be included (this is
#          different from the common names since the storage is a map, where key is
#          the foodId and value is the ingredient common name)
#        name: include-food-names
#        required: false
#        type: boolean
#      - in: query
#        description: Should the recipe's ingredient food id's be included?
#        name: include-foodId
#        required: falsecategory
#        type: boolean
#      - in: query
#        description: The offset into search results.
#        name: offset
#        required: false
#        type: integer
#        format: int64
#        minimum: 0
#      - in: query
#        description: Limit the number of results returned.
#        name: limit
#        required: false
#        type: integer
#        format: int32
#        minimum: 0
#      - in: query
#        description: The nutrition field to sort by.
#        name: sortby
#        default: calories
#        type: string
#      - in: query
#        description: The sort direction for the results.
#        name: sortdir
#        default: desc
#        type: string
#      - "$ref" : "#/parameters/hasImage"
#      - "$ref" : "#/parameters/allowNumMissingIngredients"
#      responses:
#        '200':
#          description: Description was not specified
#          schema:
#            type: array
#            items:
#              "$ref": "#/definitions/Recipe"
#        '400':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
#  "/recipe/rss":
#    get:
#      produces:
#      - application/xml
#      tags:
#      - recipe
#      operationId: SearchRecipesAndOutputRss
#      summary: Produce a list of recipes, in xml/rss format.
#      parameters:
#      - "$ref" : "#/parameters/recipeName"
#      - "$ref" : "#/parameters/foodIds"
#      - "$ref" : "#/parameters/calories"
#      - "$ref" : "#/parameters/protein"
#      - "$ref" : "#/parameters/total-fat"
#      - "$ref" : "#/parameters/vegetarian"
#      - "$ref" : "#/parameters/vegan-friendly"
#      - "$ref" : "#/parameters/pescatarian"
#      - "$ref" : "#/parameters/gluten-free"
#      - "$ref" : "#/parameters/quick-and-easy"
#      - "$ref" : "#/parameters/low-fat"
#      - "$ref" : "#/parameters/low-sugar"
#      - "$ref" : "#/parameters/low-sat-fat"
#      - "$ref" : "#/parameters/has-nuts"
#      - "$ref" : "#/parameters/has-eggs"
#      - "$ref" : "#/parameters/has-sugar"
#      - "$ref" : "#/parameters/has-fruit"
#      - "$ref" : "#/parameters/has-dairy"
#      - "$ref" : "#/parameters/has-meat"
#      - "$ref" : "#/parameters/has-ceral"
#      - "$ref" : "#/parameters/has-alcohol"
#      - "$ref" : "#/parameters/sweet-food"
#      - "$ref" : "#/parameters/is-dinner"
#      - "$ref" : "#/parameters/is-condiment"
#      - "$ref" : "#/parameters/savory-food"
#      - "$ref" : "#/parameters/includeNutritionParam"
#      - "$ref" : "#/parameters/include-common-names"
#      - "$ref" : "#/parameters/include-recipe-categories"
#      - "$ref" : "#/parameters/include-nutrition-per-portion"
#      - "$ref" : "#/parameters/include-gda"
#      - "$ref" : "#/parameters/include-nutrition-tips"
#      - "$ref" : "#/parameters/include-food-names"
#      - "$ref" : "#/parameters/include-food-id"
#      - "$ref" : "#/parameters/offset"
#      - "$ref" : "#/parameters/ownerId"
#      - "$ref" : "#/parameters/ownerHandle"
#      - "$ref" : "#/parameters/limit"
#      - "$ref" : "#/parameters/recipeSortby"
#      - "$ref" : "#/parameters/sortdir"
#      - "$ref" : "#/parameters/hasImage"
#      - "$ref" : "#/parameters/allowNumMissingIngredients"
#      responses:
#        '200':
#          description: Description was not specified
#          schema:
#            type: array
#            items:
#              "$ref": "#/definitions/Recipe"
#        '400':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
  "/recipe/search":
    get:
      produces:
      - application/json
      tags:
      - recipe
      operationId: PagedSearchRecipes
      summary: Search for recipes, and include paging info in the response.
      parameters:
      - "$ref" : "#/parameters/recipeName"
      - "$ref" : "#/parameters/foodIds"
      - "$ref" : "#/parameters/calories"
      - "$ref" : "#/parameters/protein"
      - "$ref" : "#/parameters/total-fat"
      - "$ref" : "#/parameters/vegetarian"
      - "$ref" : "#/parameters/vegan-friendly"
      - "$ref" : "#/parameters/pescatarian"
      - "$ref" : "#/parameters/gluten-free"
      - "$ref" : "#/parameters/quick-and-easy"
      - "$ref" : "#/parameters/low-fat"
      - "$ref" : "#/parameters/low-sugar"
      - "$ref" : "#/parameters/low-sat-fat"
      - "$ref" : "#/parameters/has-nuts"
      - "$ref" : "#/parameters/has-eggs"
      - "$ref" : "#/parameters/has-sugar"
      - "$ref" : "#/parameters/has-fruit"
      - "$ref" : "#/parameters/has-dairy"
      - "$ref" : "#/parameters/has-meat"
      - "$ref" : "#/parameters/has-ceral"
      - "$ref" : "#/parameters/has-alcohol"
      - "$ref" : "#/parameters/sweet-food"
      - "$ref" : "#/parameters/is-dinner"
      - "$ref" : "#/parameters/is-condiment"
      - "$ref" : "#/parameters/savory-food"
      - "$ref" : "#/parameters/includeNutritionParam"
      - "$ref" : "#/parameters/include-common-names"
      - "$ref" : "#/parameters/include-recipe-categories"
      - "$ref" : "#/parameters/include-nutrition-per-portion"
      - "$ref" : "#/parameters/include-gda"
      - "$ref" : "#/parameters/include-nutrition-tips"
      - "$ref" : "#/parameters/include-food-names"
      - "$ref" : "#/parameters/include-food-id"
      - "$ref" : "#/parameters/offset"
      - "$ref" : "#/parameters/ownerId"
      - "$ref" : "#/parameters/ownerHandle"
      - "$ref" : "#/parameters/limit"
      - "$ref" : "#/parameters/recipeSortby"
      - "$ref" : "#/parameters/sortdir"
      - "$ref" : "#/parameters/hasImage"
      - "$ref" : "#/parameters/allowNumMissingIngredients"
      - "$ref" : "#/parameters/nutritionSortby"
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/PagedRecipeResults"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/recipe/narrow-search":
    get:
      produces:
      - application/json
      tags:
      - recipe
      operationId: NarrowSearchRecipe
      summary: Search for recipe data, and receive only specific fields back. Nutritional information isn't available, as only the Recipe object is included in searches and response.
      parameters:
      - "$ref" : "#/parameters/recipeName"
      - "$ref" : "#/parameters/offset"
      - "$ref" : "#/parameters/ownerId"
      - "$ref" : "#/parameters/ownerHandle"
      - "$ref" : "#/parameters/limit"
      - "$ref" : "#/parameters/narrowRecipeSortby"
      - "$ref" : "#/parameters/sortdir"
      - "$ref" : "#/parameters/responseFields"
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/PagedRecipeResults"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/recipe/latest":
    get:
      tags:
      - recipe
      operationId: LatestRecipes
      summary: Get the latest recipe object (with nutrition data), and include the
        nutrition information for the ingredients in this object.
      parameters:
      - "$ref" : "#/parameters/includeNutritionParam"
      - "$ref" : "#/parameters/include-common-names"
      - "$ref" : "#/parameters/include-recipe-categories"
      - "$ref" : "#/parameters/include-nutrition-per-portion"
      - "$ref" : "#/parameters/include-gda"
      - "$ref" : "#/parameters/include-nutrition-tips"
      - "$ref" : "#/parameters/include-food-names"
      - "$ref" : "#/parameters/include-food-id"
      - "$ref" : "#/parameters/offset"
      - "$ref" : "#/parameters/limit"
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              "$ref": "#/definitions/Recipe"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/recipe/{recipeId}/ingredient/{ingredient-id}":
    get:
      tags:
      - recipe
      operationId: GetIngredientFromRecipeWithNutrition
      summary: Get a particular ingredient in a recipe.
      parameters:
      - in: path
        description: The recipe ID
        name: recipeId
        required: true
        type: string
      - in: path
        description: The ingredient ID, if you want a particular ingredient in the
          recipe.
        name: ingredient-id
        required: true
        type: integer
        format: int64
        minimum: 1
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/IngredientWithNutritionAbbrev"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
    put:
      tags:
      - recipe
      operationId: SaveChangesForIngredient
      summary: Make changes to a particular ingredient in a recipe.
      parameters:
      - in: path
        description: The recipe ID
        name: recipeId
        required: true
        type: string
      - in: path
        description: The ingredient ID for the ingredient being edited.
        name: ingredient-id
        required: true
        type: integer
        format: int64
        minimum: 1
      - in: body
        description: The recipe ID
        name: recipeIngredients
        required: true
        schema:
          type: array
          items:
            "$ref": "#/definitions/Ingredient"
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              "$ref": "#/definitions/Ingredient"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
    delete:
      tags:
      - recipe
      operationId: DeleteIngredientFromRecipe
      summary: Delete an ingredient from a recipe.
      parameters:
      - in: path
        description: The recipe ID
        name: recipeId
        required: true
        type: string
      - in: path
        description: The ingredient ID for the ingredient being edited.
        name: ingredient-id
        required: true
        type: integer
        format: int64
        minimum: 1
      produces:
      - application/json
      responses:
        '201':
          description: Ingredient successfully deleted.
          schema:
            type: string
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/recipe/{recipeId}/ingredient":
    get:
      tags:
      - recipe
      operationId: GetIngredientsForRecipe
      summary: Get a particular recipe's ingredients.
      parameters:
      - in: path
        description: The recipe ID
        name: recipeId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              "$ref": "#/definitions/Ingredient"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
    post:
      tags:
      - recipe
      operationId: AddIngredientsToRecipe
      summary: Save a particular recipe's ingredients en masse
      parameters:
      - in: path
        description: The recipe ID
        name: recipeId
        required: true
        type: string
      - in: body
        description: The recipe ID
        name: recipeIngredients
        required: true
        schema:
          type: array
          items:
            "$ref": "#/definitions/Ingredient"
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              "$ref": "#/definitions/Ingredient"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
    put:
      tags:
      - recipe
      operationId: EditIngredientForRecipe
      summary: Save a particular recipe's ingredients en masse
      parameters:
      - in: path
        description: The recipe ID
        name: recipeId
        required: true
        type: string
      - in: body
        description: The recipe ID
        name: recipeIngredients
        required: true
        schema:
          type: array
          items:
            "$ref": "#/definitions/Ingredient"
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              "$ref": "#/definitions/Ingredient"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/scratch-recipe/{recipeId}":
    post:
      tags:
      - scratch-recipe
      operationId: PutScratchPadRecipe
      summary: Save changes to a scratch pad recipe
      parameters:
      - in: path
        description: The ID of the scratch pad recipe you want to change
        name: recipeId
        required: true
        type: string
      - in: body
        description: The recipe data to be changed.
        name: jsonBody
        required: true
        schema:
          "$ref": "#/definitions/Recipe"
      produces:
      - application/json
      responses:
        '200':
          description: The recipe object with your changes.
          schema:
            "$ref": "#/definitions/Recipe"
        '400':
          description: Malformed JSON (this endpoint requires an array of strings
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
    delete:
      tags:
      - scratch-recipe
      operationId: DeleteScratchPadRecipe
      summary: Delete a scratch pad recipe
      parameters:
      - in: path
        description: The ID of the recipe you want to delete
        name: recipeId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIResponse"
        '400':
          description: Malformed JSON (this endpoint requires an array of strings
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
    get:
      tags:
      - scratch-recipe
      operationId: GetAllMyScratchRecipesSingular
      summary: Get a specific scratch pad recipe
      parameters:
      - in: path
        description: The ID of the recipe that you want to fetch
        name: recipeId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Fetch a recipe from the scratch pad.
          schema:
            "$ref": "#/definitions/Recipe"
        '400':
          description: Malformed JSON (this endpoint requires an array of strings
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Malformed JSON (this endpoint requires an array of strings
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
  "/scratch-recipe/{recipeId}/ingredient/{ingredient-id}":
    put:
      tags:
      - scratch-recipe
      operationId: ChangeIngredientForScratchPadRecipe
      summary: Adds new ingredients to a scratch recipe
      parameters:
      - in: path
        description: The ID of the scratch pad recipe you want to change
        name: recipeId
        required: true
        type: string
      - in: path
        description: The ID of the ingredient you want to make changes to.
        name: ingredient-id
        required: true
        type: integer
        format: int64
        minimum: 1
      - in: body
        description: The ingredient to be changed
        name: jsonBody
        required: true
        schema:
          "$ref": "#/definitions/Ingredient"
      produces:
      - application/json
      responses:
        '200':
          description: The object which was changed
          schema:
            "$ref": "#/definitions/Ingredient"
        '400':
          description: Malformed JSON (this endpoint requires an array of strings
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Malformed JSON (this endpoint requires an array of strings
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
    delete:
      tags:
      - scratch-recipe
      operationId: RemoveIngredientFromScratchPadRecipe
      summary: Removes an ingredient from a scratch recipe
      parameters:
      - in: path
        description: The ID of the recipe that the ingredient belongs to
        name: recipeId
        required: true
        type: string
      - in: path
        description: The ID of the ingredient that you want to delete
        name: ingredient-id
        required: true
        type: integer
        format: int64
        minimum: 1
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIResponse"
        '400':
          description: Malformed JSON (this endpoint requires an array of strings
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
  "/scratch-recipe/{recipeId}/ingredient":
    post:
      tags:
      - scratch-recipe
      operationId: SaveIngredientsInScratchRecipe
      summary: Adds new ingredients to a scratch recipe
      parameters:
      - in: path
        description: The ID of the recipe you want to change
        name: recipeId
        required: true
        type: string
      - in: body
        description: The ingredient to be added to the recipe.
        name: jsonBody
        required: true
        schema:
          type: array
          items:
            "$ref": "#/definitions/Ingredient"
      produces:
      - application/json
      responses:
        '200':
          description: The objects which new exist in the scratch pad recipe
          schema:
            type: array
            items:
              "$ref": "#/definitions/Ingredient"
        '400':
          description: Malformed JSON (this endpoint requires an array of strings
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
  "/scratch-recipe/{recipeId}/ingredient-names":
    get:
      tags:
      - scratch-recipe
      operationId: GetScratchRecipeIngredientNames
      summary: Get a list of the common names for a particular recipe
      parameters:
      - in: path
        description: Recipe ID
        name: recipeId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              type: string
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '403':
          description: You're not the recipe owner.
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
  "/scratch-recipe/{recipeId}/nutrition":
    get:
      tags:
      - scratch-recipe
      operationId: GetNutritionForSpecificScratchRecipe
      summary: Get the nutritional information for a specific Scratch Recipe
      parameters:
      - in: path
        description: The ID of the recipe that you want to change
        name: recipeId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Fetch a recipe from the scratch pad, and include the recipe's
            total nutrition.
          schema:
            "$ref": "#/definitions/Recipe"
        '400':
          description: Malformed JSON (this endpoint requires an array of strings
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '403':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
  "/scratch-recipe/nutrition":
    get:
      tags:
      - scratch-recipe
      operationId: GetAllMyScratchRecipesAndNutrition
      summary: Get all of my scratch recipes, including the nutrition for the recipe
      parameters:
      - "$ref" : "#/parameters/includeNutritionParam"
      - "$ref" : "#/parameters/include-common-names"
      - "$ref" : "#/parameters/include-recipe-categories"
      - "$ref" : "#/parameters/include-nutrition-per-portion"
      - "$ref" : "#/parameters/include-gda"
      - "$ref" : "#/parameters/include-nutrition-tips"
      - "$ref" : "#/parameters/include-food-names"
      - "$ref" : "#/parameters/include-food-id"
      - "$ref" : "#/parameters/offset"
      - "$ref" : "#/parameters/limit"
      produces:
      - application/json
      responses:
        '200':
          description: Retreives a list of the currenty logged in user's scratch pad
          schema:
            type: array
            items:
              "$ref": "#/definitions/Recipe"
        '400':
          description: Malformed JSON (this endpoint requires an array of strings
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '403':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
  "/scratch-recipe":
    get:
      tags:
      - scratch-recipe
      operationId: GetAllMyScratchRecipes
      summary: Get all of my scratch recipes
      parameters:
      - "$ref" : "#/parameters/includeNutritionParam"
      - "$ref" : "#/parameters/include-common-names"
      - "$ref" : "#/parameters/include-recipe-categories"
      - "$ref" : "#/parameters/include-nutrition-per-portion"
      - "$ref" : "#/parameters/include-gda"
      - "$ref" : "#/parameters/include-nutrition-tips"
      - "$ref" : "#/parameters/include-food-names"
      - "$ref" : "#/parameters/include-food-id"
      - "$ref" : "#/parameters/offset"
      - "$ref" : "#/parameters/limit"
      produces:
      - application/json
      responses:
        '200':
          description: Retreives a list of the currenty logged in user's scratch pad
          schema:
            type: array
            items:
              "$ref": "#/definitions/Recipe"
        '400':
          description: Malformed JSON (this endpoint requires an array of strings
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '403':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
    post:
      tags:
      - scratch-recipe
      operationId: CreateAScratchPadRecipe
      summary: Create a temp recipe from plain english ingredients.
      parameters:
      - in: body
        description: The recipe to be created.
        name: jsonBody
        required: true
        schema:
          "$ref": "#/definitions/Recipe"
      produces:
      - application/json
      responses:
        '200':
          description: Retreives a list of ingredients, including the nutritional
            content of the ingredient
          schema:
            "$ref": "#/definitions/Recipe"
        '400':
          description: Malformed JSON (this endpoint requires an array of strings
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '403':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
  "/menu-item/{menuItemId}":
    get:
      tags:
      - recipe-group
      operationId: GetSingleMenuItem
      summary: Get a single menu item by its primary key.
      parameters:
      - in: path
        description: The id of the menu item to be fetched.
        name: menuItemId
        required: true
        type: integer
        format: int64
        minimum: 1
      - "$ref" : "#/parameters/include-recipe"
      produces:
      - application/json
      responses:
        '200':
          description: The meu item to be fetched.
          schema:
            "$ref": "#/definitions/MenuItem"
        '400':
          description: Description was not specified.
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Menu item not found.
          schema:
            "$ref": "#/definitions/HttpAPIError"
    put:
      tags:
      - recipe-group
      operationId: PutMenuItem
      summary: Make changes to a menu item already in the database
      parameters:
      - in: path
        description: The menu item ID of the item you want to change.
        name: menuItemId
        required: true
        type: integer
        format: int64
      - in: body
        description: The menu item data to be changed.
        name: jsonBody
        required: true
        schema:
          "$ref": "#/definitions/MenuItem"
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/MenuItem"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '401':
          description: Only a recipe group owner can make changes to a recipe group.
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Group ID not found
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
    delete:
      tags:
      - recipe-group
      operationId: DeleteMenuItem
      summary: Delete a menu item
      parameters:
      - in: path
        description: The primary key of the menu item to be deleted.
        required: true
        name: menuItemId
        type: integer
        format: int64
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/MenuItem"
        '403':
          description: You're not the group owner.
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Menu item doesn't exist
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
  "/menu-item/{menuItemId}/add-recipe-id/{recipeId}":
    put:
      tags:
      - recipe-group
      operationId: ChangeAMenuItemsRecipeId
      summary: Change a menu item's recipe id.
      parameters:
      - in: path
        description: The id of the menu item to be change.
        name: menuItemId
        required: true
        type: integer
        format: int64
        minimum: 1
      - in: path
        description: The recipe id to be assigned.
        name: recipeId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: The meu item to be fetched.
          schema:
            "$ref": "#/definitions/MenuItem"
        '400':
          description: Description was not specified.
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Menu item or recipe id not found.
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/recipe-group/{recipeGroupId}/menu-items":
    get:
      tags:
      - recipe-group
      operationId: GetMenuItemsInRecipeGroup
      summary: Get the menu items in the recipe group
      parameters:
      - in: path
        description: The group ID required
        name: recipeGroupId
        required: true
        type: integer
        format: int64
        minimum: 1
      - "$ref" : "#/parameters/include-recipe"
      produces:
      - application/json
      responses:
        '200':
          description: The menu items in the group
          schema:
            type: array
            items:
              "$ref": "#/definitions/MenuItem"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
    post:
      tags:
      - recipe-group
      operationId: PostMenuItem
      summary: Add a menu item to a recipe group.
      parameters:
      - in: path
        description: The group ID required
        name: recipeGroupId
        required: true
        type: integer
        format: int64
        minimum: 1
      - in: body
        description: The recipe group data. Some additional parameters are provide finer control over the recipe group insertion. Such as overwriting a previous slug, making sure only one ever exists, or is inserted. The maximum number of menu-items per recipe group is 100.
        name: jsonBody
        required: true
        schema:
          "$ref": "#/definitions/MenuItem"
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/MenuItem"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Recipe group not found
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
  "/rda/{country}":
    get:
      tags:
      - rda
      operationId: GetRDAData
      summary: Get the rating for a recipe, by it's id
      parameters:
      - in: path
        description: The country code which the RDA should reflect.
        name: country
        default: uk
        required: true
        type: string
        minLength: 1
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/RDA"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
#  "/available-recipes/{foodids}":
#    get:
#      tags:
#      - availables-recipes
#      operationId: AvailableRecipes
#      summary: Find recipes which contain the supplied food ids
#      parameters:
#      - in: path
#        description: A comma deliminated list of Food IDs
#        name: foodids
#        required: true
#        type: string
#        minLength: 1
#      - in: query
#        description: A term to be used for searching in the recipe name.
#        name: searchterm
#        required: false
#        type: string
#        minLength: 1
#      - "$ref" : "#/parameters/includeNutritionParam"
#      - "$ref" : "#/parameters/include-common-names"
#      - "$ref" : "#/parameters/include-recipe-categories"
#      - "$ref" : "#/parameters/include-nutrition-per-portion"
#      - "$ref" : "#/parameters/include-gda"
#      - "$ref" : "#/parameters/include-nutrition-tips"
#      - "$ref" : "#/parameters/include-food-names"
#      - "$ref" : "#/parameters/include-food-id"
#      - "$ref" : "#/parameters/offset"
#      - "$ref" : "#/parameters/limit"
#      produces:
#      - application/json
#      responses:
#        '200':
#          description: Description was not specified
#          schema:
#            type: array
#            items:
#              "$ref": "#/definitions/Recipe"
#        '400':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
  "/fav-recipe":
    get:
      tags:
      - fav-recipe
      operationId: FavoriteRecipes
      summary: List the logged in user's fav recipes.
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            type: array
            items:
              "$ref": "#/definitions/FavRecipe"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
    post:
      tags:
      - fav-recipe
      operationId: FavoriteARecipe
      summary: Favorite a recipe
      parameters:
      - in: body
        description: The recipe information (either the recipe's url or the recipeId
          from the cheerychow DB) you want to favourite..
        name: jsonBody
        required: true
        schema:
          "$ref": "#/definitions/FavRecipe"
      produces:
      - application/json
      responses:
        '201':
          description: Object created.
          schema:
            "$ref": "#/definitions/FavRecipe"
        '400':
          description: Either a recipe id or a recipe url is needed
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '404':
          description: Recipe doesn't exist.
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
  "/fav-recipe/by-id/{fav-recipeId}":
    delete:
      tags:
      - fav-recipe
      operationId: UnfavoriteARecipeByID
      summary: Remove a favorite recipe entry into the database, for a particular
        recipe.
      parameters:
      - in: path
        description: Favorite recipe ID to be deleted
        name: fav-recipeId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIResponse"
        '404':
          description: Fav recipe not found
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
  "/fav-recipe/by-recipe-id/{recipeId}":
    delete:
      tags:
      - fav-recipe
      operationId: UnfavoriteARecipeByRecipeID
      summary: Remove a favorite recipe entry into the database, for a particular
        recipe.
      parameters:
      - in: path
        description: The recipe ID to be unfavourited.
        name: recipeId
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIResponse"
        '404':
          description: Fav recipe not found
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
  "/fav-recipe/by-recipe-url/{recipe-url}":
    delete:
      tags:
      - fav-recipe
      operationId: UnfavoriteRecipeByUrl
      summary: Remove3 a favorite recipe entry into the database, for a particular
        recipe.
      parameters:
      - in: path
        description: The recipe url you want to unfavourite.
        name: recipe-url
        required: true
        type: string
        minLength: 5
      produces:
      - application/json
      responses:
        '200':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIResponse"
        '404':
          description: Fav recipe not found
          schema:
            "$ref": "#/definitions/HttpAPIError"
        '400':
          description: Invalid url
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
#  "/alternatives/recipe/summary/{recipeId}":
#    get:
#      tags:
#      - alternatives
#      operationId: ListAlternativeIngredientsForRecipe
#      summary: List similar foods
#      parameters:
#      - in: path
#        description: The recipe ID of the object you want to fetch.
#        name: recipeId
#        required: true
#        type: string
#      produces:
#      - application/json
#      responses:
#        '200':
#          description: Description was not specified
#          schema:
#            type: array
#            items:
#              "$ref": "#/definitions/NutritionAbbrev"
#        '400':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
#  "/alternatives/nutrients/{foodId}/{amount}":
#    get:
#      tags:
#      - alternatives
#      operationId: GetFoodAlternativesNutritionAndAmount
#      summary: List similar foods, include nutrition
#      parameters:
#      - in: path
#        description: 'Food ID you want the alternative foods for Example: 1'
#        name: foodId
#        required: true
#        type: integer
#        format: int32
#        minimum: 1
#      - in: path
#        description: 'The amount in grams you want the nutritional information to
#          be based on Example: 58'
#        name: amount
#        required: true
#        type: number
#        format: float
#        minimum: 1
#      - in: query
#        description: 'Which model column do you want to sort by Example: calories'
#        name: sort-by
#        required: false
#        default: calories
#        type: string
#      - in: query
#        description: 'The direction that you want the sort to occur Example: asc'
#        name: desc
#        default: desc
#        required: false
#        type: string
#      produces:
#      - application/json
#      responses:
#        '200':
#          description: Description was not specified
#          schema:
#            type: array
#            items:
#              "$ref": "#/definitions/NutritionAbbrev"
#        '400':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
#  "/alternatives/nutrients/{foodId}":
#    get:
#      tags:
#      - alternatives
#      operationId: GetFoodAlternativesNutrition
#      summary: List similar foods, include nutrition
#      parameters:
#      - in: path
#        description: 'Food ID you want the alternative foods for Example: 1'
#        name: foodId
#        required: true
#        type: integer
#        format: int32
#        minimum: 1
#      - in: path
#        description: The amount, in grams, of food to compare. Defaults to 100g.
#        name: amount
#        required: true
#        type: number
#        format: float
#        minimum: 1
#      - in: query
#        description: 'Which model column do you want to sort by Example: calories'
#        name: sort-by
#        default: food_id
#        required: false
#        type: string
#      - in: query
#        description: 'The direction that you want the sort to occur Example: asc'
#        name: desc
#        default: desc
#        required: false
#        type: string
#      produces:
#      - application/json
#      responses:
#        '200':
#          description: Description was not specified
#          schema:
#            type: array
#            items:
#              "$ref": "#/definitions/NutritionAbbrevWithName"
#        '400':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
#  "/alternatives/foodnames/{food_id}":
#    get:
#      tags:
#      - alternatives
#      operationId: ListAlternativeFoodnames
#      summary: List similar foods
#      parameters:
#      - in: path
#        description: 'Food ID you want the alternative foods for Example: 1'
#        name: food_id
#        required: true
#        type: integer
#        format: int32
#        minimum: 1
#      produces:
#      - application/json
#      responses:
#        '200':
#          description: Description was not specified
#          schema:
#            type: object
#            additionalProperties:
#              type: string
#        '400':
#          description: Description was not specified
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
  "/parse/via-url/recipe":
    post:
      tags:
      - parse
      operationId: ParseRecipeByUrlPost
      summary: Takes a URL of a recipe on the internet, a sous bot will parse it (if
        it can), and then spit out a recipe object as the result.
      parameters:
      - in: body
        description: A url to a recipe, which a sous bot will download and attempt,
          as best it can to parse into a recipe object and a list of ingredients.
        name: jsonBody
        required: true
        schema:
          "$ref": "#/definitions/PlainString"
      produces:
      - application/json
      responses:
        '200':
          description: No response was specified
          schema:
            "$ref": "#/definitions/Recipe"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
  "/parse/via-url/recipe/{recipe-url}":
    get:
      tags:
      - parse
      operationId: ParseRecipeByUrlGet
      summary: Takes a URL of a recipe on the internet, a sous bot will parse it (if
        it can), and then spit out a recipe object as the result.
      parameters:
      - in: path
        description: A url to a recipe, which a sous bot will download and attempt,
          as best it can to parse into a recipe object and a list of ingredients.
        name: recipe-url
        required: true
        type: string
        minLength: 1
      produces:
      - application/json
      responses:
        '200':
          description: No response was specified
          schema:
            "$ref": "#/definitions/Recipe"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/parse/via-page-content/recipe":
    post:
      tags:
      - parse
      operationId: ParseRecipeViaPageContent
      summary: Takes a URL of a recipe on the internet, a sous bot will parse it (if
        it can), and then spit out a recipe object as the result.
      parameters:
      - in: body
        description: An object describing a recipe to be parsed into seperate ingredients.
        name: jsonBody
        required: true
        schema:
          "$ref": "#/definitions/RecipeParseRequest"
      produces:
      - application/json
      responses:
        '200':
          description: New recipe object parsed.
          schema:
            "$ref": "#/definitions/Recipe"
        '400':
          description: Description was not specified
          schema:
            "$ref": "#/definitions/HttpAPIError"
      security:
      - chow_auth:
        - AuthRequired
#  "/parse/single-ingredient":
#    post:
#      tags:
#      - parse
#      operationId: ParseSinglePlainTextIngredient
#      summary: Parse a single ingredient
#      parameters:
#      - in: body
#        description: A simple endpoint which accepts a JSON array containing 1 plain
#          english ingredient. And returns only the parsed ingredient object instead
#          of a recipe object.
#        name: jsonBody
#        required: true
#        schema:
#          "$ref": "#/definitions/PlainString"
#      produces:
#      - application/json
#      responses:
#        '200':
#          description: 'Retrieves a list of ingredients, including the nutritional content of the ingredient. The list of ingredients is contained within a standard RecipeWithFood object. WARNING: This assumes a number of portions=1. You'll need to divide up the values received in this object to find the actual nutrition per portion.'
#          schema:
#            "$ref": "#/definitions/Ingredient"
#        '400':
#          description: Only 1 ingredient line is supported.
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
#      security:
#      - chow_auth:
#        - AuthRequired
#  "/parse/single-ingredient/debug":
#    post:
#      tags:
#      - parse
#      operationId: ParseSinglePlainTextIngredientIncludeDebug
#      summary: Parse a single ingredient
#      parameters:
#      - in: body
#        description: A simple endpoint which accepts a JSON array containing 1 plain
#          english ingredient. And returns only the parsed ingredient object instead
#          of a recipe object.
#        name: jsonBody
#        required: true
#        schema:
#          "$ref": "#/definitions/PlainString"
#      produces:
#      - application/json
#      responses:
#        '200':
#          description: Returns the output from the sous bot, and how it derived an
#            ingredient's value from a line of text.
#          schema:
#            "$ref": "#/definitions/IngredientDebug"
#        '400':
#          description: Malformed JSON (this endpoint requires an array of strings)
#          schema:
#            "$ref": "#/definitions/HttpAPIError"
#      security:
#      - chow_auth:
#        - AuthRequired
  "/parse/ingredients/{ingredient-line}":
    get:
      tags:
      - parse
      operationId: ParseSinglePlainTextIngredientLineRequest
      summary: Retrieves a list of ingredients and nutritional info.
      parameters:
      - in: path
        description: Comma separated plain text list of ingredients to parse
        name: ingredient-line
        required: true
        type: string
        minLength: 1
      produces:
      - application/json
      responses:
        '200':
          description: Retrieves a list of ingredients, including the nutritional
            content of the ingredient
          schema:
            type: array
            items:
              "$ref": "#/definitions/IngredientDebug"
        '400':
          description: Malformed JSON (this endpoint requires an array of strings)
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/debug/parse/ingredients":
    post:
      tags:
      - parse
      operationId: ParseManyPlainTextIngredientLineRequest
      summary: Retrieves a list of ingredients and nutritional info.
      parameters:
      - in: body
        description: A JSON array of plain english ingredients.
        name: jsonBody
        required: true
        schema:
          type: array
          items:
            type: string
      produces:
      - application/json
      responses:
        '200':
          description: Retrieves a list of ingredients, including the nutritional
            content of the ingredient
          schema:
            type: array
            items:
              "$ref": "#/definitions/IngredientDebug"
        '400':
          description: Malformed JSON (this endpoint requires an array of strings)
          schema:
            "$ref": "#/definitions/HttpAPIError"
  "/parse/ingredients":
    post:
      tags:
      - parse
      operationId: ParsePlainTextIngredientLines
      summary: Retrieves a list of ingredients and nutritional info.
      parameters:
      - in: body
        description: A JSON array of plain english ingredients.
        name: jsonBody
        required: true
        schema:
[...]
